*{
    font-family: Hammersmith One;
}

header{
    background-color: #E07A5F;
    height: 100px;
}

#headline{
    color: #F4F1DE;
    opacity: 0.5;
    font-size: 70px;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-top: 0;
    letter-spacing: 0.2em;
}

.navigation{
    height: 40px;
    background-color: #ECAF9F;
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 13px;
    font-size: 1.5em;
}

.navigation a{
    text-decoration: none;
    color: #F4F1DE;
}

#light{
    display: none;
}

.themeBtn{
    width: 120px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 90%;
    background-color: #F2CC8F;
    color: #F4F1DE;
    border: none;
    border-radius: 0.3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

h1{
    color: #F2CC8F;
    text-align: center;
    margin: 1em 0 1em 0;
}

.one{
    color: #3D405B;
    text-align: justify;
    width: 85%;
    align-content: center;
    margin: 0 auto 0 auto;
}

img{
    float: left;
    width: 120px;
    height: 100px;
    margin: 10px 30px 10px 5%;
}

video{
    play-during: repeat;
    width: 1000px;
    padding:10px;
}

#videoOfAI{
    align-items: center;
    width: 1020px;
    align-content: center;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 30px;
}

#text2 li{
    color: #3D405B;
    text-align: justify;
    width: 85%;
    align-content: center;
    margin: 0 auto 0 auto;
}

#text3 li{
    color: #3D405B;
    text-align: justify;
    width: 85%;
    align-content: center;
    margin: 10px auto 10px auto;
}

#text4 li{
    color: #3D405B;
    text-align: justify;
    width: 85%;
    align-content: center;
    margin: 10px auto 10px auto;
}

.overall{
    color: #3D405B;
    text-align: justify;
    width: 85%;
    align-content: center;
    margin: 0 auto 100px 7.5%;
}

body{
    margin: 0;
    padding: 0;
}

#app, #summaryPage, #noQuestionAnswered{
    color: #3D405B;
    text-align: justify;
    width: 50%;
    align-content: center;
    margin: 100px auto 0;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 30px;
}

#app h1, #summaryPage h1{
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #F4F1DE;
}

.quiz h3{
    color: #F2CC8F;
}

#summaryPage p{
    color: #3D405B;
}

.btn{
    background-color: white;
    color: #3D405B;
    width: 60%;
    border: 0;
    border-radius: 0.3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;
    margin: 10px 20% ;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #ECAF9F;
    color: #F4F1DE;
}

#textField, #emailInput{
    background: white;
    color: #3D405B;
    width: 60%;
    border: 0;
    border-radius: 0.3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;
    margin: 10px 20% ;
    text-align: left;
    cursor: pointer;
}

#textField:hover{
    background-color: #ECAF9F;
    color: #F4F1DE;
}

.skip-btn, #finish-btn, #yesBtn{
    background-color: #F2CC8F;
    color: #F4F1DE;
    font-weight: 500;
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

#summaryPage{
    margin-bottom: 50px;
}

#summaryPage h3{
    color: #F2CC8F;
    text-align: center;
    margin: 30px auto 30px auto;
}

#summaryPage .answer{
    margin: 10px 0;
}

#summaryPage span{
    color: #F2CC8F;
    font-weight: bold;
}

.answer{
    padding-left: 30px;
    margin-bottom: 20px;
}
.correctAnswer{
    color: green !important;
}

#noQuestionAnswered p{
    color: #F2CC8F;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#emailWindow{
    color: #3D405B;
    text-align: justify;
    width: 400px;
    align-content: center;
    margin: 20px auto 100px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;
}


#email{
    color: #3D405B;
    text-align: center;
}

#emailInput{
    display: none;
    margin-top: 20px;
}

#sendBtn{
    background: #F2CC8F;
    color: #F4F1DE;
    font-weight: 500;
    width: 100px;
    border: none;
    padding: 5px;
    margin-left: 150px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}